# Cátedra 2

### Fecha entrega: Hoy sábado 11 de Junio hasta las 23:59 . Subir a Blackboard

### Se debe entregar en un archivo tipo jupyter-notebook (.ipynb) comprimido en un .zip o .rar
Para ello, una vez que finalice debe ir a `File` --> `Download as` --> `Notebook (.ipynb)`

[Puede ser este mismo notebook, pero recuerde cambiar el nombre del archivo como se especifica a continuación y hacer una copia para que pueda guardar los cambios]

La cátedra puede ser realizada de forma individual o un máximo de 2 personas. Si es individual coloque como nombre al archivo: Apellido_Nombre.ipynb y si es en pareja, ApellidoIntegrate1-NombreIntegrante1_ApellidoIntegrate2-NombreIntegrante2.ipynb(1 pto)

    Por favor lea bien las instrucciones de lo que se pide.

    Todos los programas deben ejecutarse con Python 3

    Por favor, limpie el código y las lineas no utilizadas - las declaraciones de impresión comentadas están bien, pero elimine cualquier otra cosa no utilizada para mantener su código fácil de leer.

Todo o nada!!

Para cualquier código que ejecute lo que no se pide, o tenga error, tiene puntaje 0. Le recomiendo leer muy bien cada enunciado y hacer las preguntas correspondientes el día sábado en la clase.

### 1) Crear un jupyter-notebook, indicar su nombre, e-mail, fecha. (0.5 puntos) y en la misma trabajar con los datos de censo.csv

In [28]:
#Con esto lee los datos directos
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/malegria01/ACI222/main/jupyter-notebook/censo.csv"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head(10)

,ORDEN,NOMBRE REGIÓN,Código Región,NOMBRE PROVINCIA,Código Provincia,NOMBRE COMUNA,Código Comuna,Edad,Hombres,Mujeres,TOTAL
0,0,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,Total País,8601989,8972014,17574003
1,1,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,0 a 4,594059,572087,1166146
2,2,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,5 a 9,618121,592068,1210189
3,3,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,10 a 14,585855,561560,1147415
4,4,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,15 a 19,636064,608633,1244697
5,5,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,20 a 24,702706,685116,1387822
6,6,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,25 a 29,742265,731885,1474150
7,7,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,30 a 34,645359,648278,1293637
8,8,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,35 a 39,595608,612169,1207777
9,9,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,40 a 44,586674,611829,1198503

### 2) Renombre las columnas y que el nuevo nombre asignado no debe contener espacios (0.5 puntos)

### 3) ¿Cuántas columnas y filas tiene el archivo? (0.5 puntos)

### 4) ¿Qué tipo de datos por columna existen? (0.5 puntos)

### 5) Obtener la cantidad de mujeres totales por REGIÓN. (3 puntos)

### 6) ¿Qué región tiene mayor cantidad de mujeres? ¿Qué región tiene menor cantidad de mujeres? (2 puntos)

### 7) ¿Cuál es el código de la provincia y código de comuna de Valparaíso? (1 punto)

### 8) Cree un nuevo data frame que contenga los datos específicos de una REGIÓN seleccionada por usted y obtenga el total de mujeres y hombres por provincia de esa región. (3 puntos)

Ejemplo Región del Maule:


| NOMBRE_PROVINCIA | Mujeres | Hombres| 
|:-------------------:|---|---|
| TALCA | 210867 | 201902 | 
| CAUQUENES | 29411 | 27529 | 
| CURICÓ | 146271|142609 | 
| LINARES |146777  |139584 |

### 9) Graficar la cantidad de hombres y mujeres por provincia obtenidos en el ejercicio 7 (2 puntos)

### 10) ¿Cuál es la estadística descriptiva (mean, std, min, max,etc) de la cantidad de hombres y mujeres por la provincia de la región escogida (2 puntos)

### 11) Crear un nuevo dataframe que contenga información por nuevos tramos de edad y considerar que el primer tramo son menores o iguales de 19 años (grupo menores edad) y el segundo mayores o iguales que 20 años (grupo mayores de edad).  (4 puntos) 
(Recuerde que al hacer esto debe ir sumando por tramo de edades la cantidad de personas, hombres y mujeres.)

**tips**: Es mejor eliminar todas las filas que contienen Total y Pais (buscar "loc").

### Responder:
   
#### a) ¿Cuántos hombres mayores y menores de edad hay por cada Región? (2 puntos)

#### b) ¿Cuántas mujeres mayores y menores de edad hay por cada Región? (2 puntos)

#### c) ¿Cuál es el promedio de hombres en la zona norte del país? (Para ello considere: 'ARICA Y PARINACOTA', 'TARAPACÁ', 'ANTOFAGASTA', 'ATACAMA','COQUIMBO') (1 puntos)

### 12) Cargue el siguiente archivo csv como un dataFrame e indique cuál es el nombre de cada columna y qué tipos de datos tiene. (1 pts).

**Tips**: Si quiere ver la descripción de los datos, por favor visitar : https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto2

In [27]:
#Con esto lee los datos directos
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2021-12-31-CasosConfirmados.csv"
s=requests.get(url).content
data_casos_por_comuna=pd.read_csv(io.StringIO(s.decode('utf-8')))
data_casos_por_comuna

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Casos Confirmados
0,Arica y Parinacota,15,Arica,15101.0,247552.0,32046.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,74.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,88.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,228.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,254.0
...,...,...,...,...,...,...
357,Magallanes,12,Rio Verde,12103.0,211.0,18.0
358,Magallanes,12,San Gregorio,12104.0,681.0,74.0
359,Magallanes,12,Timaukel,12303.0,282.0,42.0
360,Magallanes,12,Torres del Paine,12402.0,1021.0,25.0
361,Magallanes,12,Desconocido Magallanes,NaN,NaN,27.0

#### 13) Si desea renombrar columnas también puede hacerlo. Fijarse que en la columna “Comuna”, existen valores denominados como “Desconocido ...”.
    
    No borre esos datos y responda:
        
    a) ¿Qué información tenemos ? (responder en base a la información del ministerio de Ciencia (link a github) y mirando la data) (1 pts).
    
    b)¿Cuál es el código de la comuna de Ollague y cuál es el código de Cabo de Hornos? (2 pts).

#### 14)  Responda en base a estos mismos datos:
    a) ¿A qué región pertenece la comuna de Quinchao? (1 pts).
    b) ¿A qué región pertenece el código de comuna 6304? (1 pts).

#### 15) Cree un dataframe con el total de población y con el total de casos confirmados por región (2 pts).

    a) Según estos datos: ¿cuál es el total de la población? (1 pts).
    b) Grafique el total de casos confirmados por región (2 pts).